<header class="header">
  <div class="logo">
    <img src="../../assets/icon/logofondo-removebg-preview.png" alt="MACROMAQ Logo" />
  </div>
  <nav class="nav-menu">
    <a href="/home">Inicio</a>

  </nav>



</header>



<ion-content class="ion-padding">

  <!-- Filtro por categoría -->
  <div class="categoria-filter" style="padding: 10px;">
    <ion-select [(ngModel)]="categoriaSeleccionada" (ionChange)="onCategoriaChange($event)">
      <ion-select-option value=""  >Seleccionar Maquinaria</ion-select-option>
      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{ categoria.nombre }}
      </ion-select-option>
    </ion-select>
  </div>


   <!-- Mostrar la categoría seleccionada -->
  <div class="categoria-titulo" *ngIf="categoriaSeleccionada">
    <h4 style="text-align: center;">Tipo de Maquinaria {{ getCategoriaNombre(categoriaSeleccionada) }}</h4>
  </div>



<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="3" *ngFor="let product of getProductosPaginados()">
      <ion-card class="product-card">
        <div class="image-container">
          <img [src]="product.imagen" [alt]="product.nombre" />
          <img class="product-logo" src="../../../assets/icon/logooo.png" alt="logo" />
        </div>

        <ion-card-content>
          <h2>{{ product.nombre }}</h2>
          <p>{{ product.descripcion }}</p>

          <ion-button expand="full" color="primary" >Whatsapp</ion-button>
          <ion-button expand="full" color="primary" (click)="compareProduct(product)">Comparar</ion-button>


        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>





  <ion-card *ngIf="productosSeleccionados.length > 0">
    <ion-card-header>
      <ion-card-title>Productos Comparados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let product of productosSeleccionados">
            <ion-card>
             <div class="image-container">
              <img [src]="product.imagen" [alt]="product.nombre" />
              </div>
              <ion-card-content>
                <h2>{{ product.nombre }}</h2>
                <p>{{ product.descripcion }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>





<div class="pagination-buttons" style="display: flex; justify-content: center; align-items: center;">
    <ion-button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Anterior</ion-button>
    <ion-button (click)="goToNextPage()" [disabled]="currentPage * pageSize >= productos.length">Siguiente</ion-button>
  </div>



    <div *ngIf="!productos" class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando Productos...</p>
    </div>

</ion-content>
