



<ion-content>

<header class="header">
  <div class="logo">
    <img src="../../assets/icon/logo grupoargentimaq.png" alt="MACROMAQ Logo" />
    <!-- <img src="../../assets/icon/logoremove.png" alt="MACROMAQ Logo" /> -->
  </div>
  <nav class="nav-menu">
    <a href="#">Inicio</a>
    <a href="#">Nuestra Empresa</a>
    <a href="#">Servicio y reparación</a>
    <a href="/CATALOGO">Catalogo</a>
    <a href="#">Contacto</a>
  </nav>



</header>


  <div style="margin-top: 6.4em;" class="content-wrapper" >
    <div *ngIf="!isSearching">




<!-- ----banner aca  -->


<!-- ----banner aca  -->
<div class="banner">
  <img src="../../assets/icon/banner pagina.png" alt="Banner principal" class="banner-image" />
</div>





      
     <div class="productos-banner">
  <button class="productos-btn" (click)="navegarAmaq()">
    CATALOGO <span>MAQUINARIAS</span>
  </button>
</div>





        <div class="marcas-section">

    <div class="marcas-scroll-container">
      <div class="marcas-wrapper">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="marcas-carousel">
              <div class="marcas-carousel-inner">
                <ion-card class="marca-card" *ngFor="let marca of marcas" >
                  <img [src]="marca.imagen" alt="{{ marca.nombre }}" />
                </ion-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>



  <div class="nuestra-empresa">
    <div class="content-container">
      <div class="image-container">
        <img src="../../assets/icon/FOTO EMPRESA.png" alt="Edificio Macromaq" />
      </div>
      <div class="text-container">
        <h2>Nuestra Empresa</h2>
        <p>
  GRUPOARGENTIMAQ se ha consolidado como líder en la venta, reparación y servicio de maquinaria para la construcción.
  Desde nuestros inicios, nos hemos comprometido con brindar soluciones integrales y de calidad a nuestros clientes,
  garantizando el éxito de sus proyectos de construcción, infraestructura y obras civiles.
        </p>
        <p>
  Nuestra Misión: Ser el socio estratégico de nuestros clientes en cada etapa de sus proyectos, proporcionando maquinaria de vanguardia,
  atención personalizada y servicios técnicos especializados.
  Nos enfocamos en ofrecer las mejores soluciones para optimizar los procesos constructivos, siempre con un enfoque en la seguridad,
  la eficiencia y la sostenibilidad.
        </p>
        <p>
  Más de 20 Años de Trayectoria: A lo largo de nuestra carrera, hemos acumulado una vasta experiencia en el mercado, lo que nos permite
  comprender a fondo las necesidades de cada cliente. Nuestro compromiso con la innovación y la excelencia nos ha permitido mantener
  una posición de liderazgo, convirtiéndonos en una referencia dentro del mercado de maquinaria para la construcción.
        </p>
        <p>
  <strong>Lo que Ofrecemos:</strong><br />
  <strong>Venta y Reparación de Maquinaria:</strong> Disponemos de una amplia gama de equipos de última tecnología, desde
  allanadoras, aserradoras de hormigón, vibroapisonadores, generadores, hasta maquinaria especializada para proyectos específicos.<br />
  <strong>Servicio Técnico Especializado:</strong> Contamos con un equipo de profesionales altamente capacitados que brindan mantenimiento preventivo
  y correctivo, asegurando el óptimo funcionamiento de los equipos en todo momento.<br />
  <strong>Soluciones a Medida:</strong> Sabemos que cada proyecto tiene sus particularidades, por lo que ofrecemos asesoramiento personalizado
  y soluciones adaptadas a las necesidades de cada cliente, ayudándoles a maximizar la productividad y reducir los tiempos de ejecución.
        </p>
        <p>
  <strong>¿Por qué elegirnos?</strong><br />
  <strong>Liderazgo en el Mercado:</strong> Más de 20 años de experiencia nos respaldan como una empresa consolidada y confiable.<br />
  <strong>Calidad y Seguridad:</strong> Trabajamos solo con marcas de maquinaria de la más alta calidad, garantizando seguridad y
  rendimiento en todos nuestros productos y servicios.<br />
  <strong>Compromiso con el Cliente:</strong> Nuestro enfoque es siempre brindar el mejor servicio, atendiendo de manera rápida, eficaz y personalizada.<br />
  <strong>Innovación:</strong> Siempre a la vanguardia de la tecnología, ofrecemos equipos modernos y soluciones que optimizan el rendimiento y la eficiencia
  de sus proyectos.
        </p>
      </div>
    </div>
  </div>
  






 <div class="nuestra-empresa">
  <div class="content-container">
    <div class="image-container">
      <img src="../../assets/icon/foto reparación.png" alt="Edificio Macromaq" />
    </div>
    <div class="text-container">
      <h2>Servicio Y Reparación</h2>
      <p>
En GrupoArgentimaq, entendemos que el funcionamiento óptimo de la
maquinaria de construcción es crucial para el éxito de cualquier proyecto.
Con más de 20 años de experiencia en el mercado, nos enorgullece ofrecer
un servicio integral de reparación y postventa que garantiza la continuidad de
sus operaciones sin interrupciones.
      </p>
      <p>
Reparación Especializada de Maquinaria para la Construcción:
Nuestro servicio de reparación se caracteriza por ser rápido, eficiente y
confiable, abarcando una amplia gama de maquinaria para la construcción.
Contamos con un equipo de técnicos altamente capacitados que utilizan
herramientas de última tecnología para realizar diagnósticos precisos y
reparaciones de alta calidad.
      </p>
      <p>
        <strong>¿Qué ofrecemos en nuestro servicio de reparación?</strong><br />
        <strong>Mantenimiento preventivo y correctivo:</strong> Realizamos intervenciones
periódicas para prevenir fallas y asegurar que su maquinaria funcione a su
máxima capacidad. <br />
        <strong>Reparaciones de emergencia:</strong> En caso de fallos imprevistos, nuestro equipo
técnico está disponible para reparar su maquinaria rápidamente y minimizar
los tiempos de inactividad. <br />
        <strong>Recambio de piezas originales:</strong> Garantizamos el uso de piezas y repuestos
originales, lo que asegura un rendimiento superior y una mayor durabilidad
para su equipo. <br />
        <strong>Asesoramiento técnico:</strong> Ofrecemos consultoría sobre cómo optimizar el uso
y cuidado de su maquinaria, ayudándole a prolongar su vida útil.
      </p>
<!-- </div> -->

        <!-- Botón de WhatsApp dentro del contenido -->
      <div class="whatsapp-button-container">
        <button class="whatsapp-button" onclick="openWhatsApp()">
          <ion-icon name="logo-whatsapp"></ion-icon> Contáctanos por WhatsApp
        </button>
      </div>
    </div>
  </div>
</div>










      </div>


    </div>


    <ion-footer>
      <div class="footer-content text-center">
        <div class="contact-info">
          <h2>Casa Central</h2>
          <p>Dirección: Francisco Borges 4380, Munro, Vte López, Buenos Aires, Argentina</p>
          <p>Teléfono: <a href="tel:+5401147621538">011 4762 1538</a></p>
          <p>WhatsApp: <a href="https://wa.me/5491121637136">11 21637136</a></p>
        </div>
        <div class="map-container">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.345360147038!2d-58.53069548476934!3d-34.54058176218767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0c79954cc3d%3A0x23313378832a0e8!2sFrancisco%20Borges%204380%2C%20B1605%20Munro%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2sar!4v1700000000000!5m2!1ses!2sar" 
            width="100%" 
            height="250" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        <p>&copy; 2024 Derechos Reservados | Desarrollado por
          <a href="https://www.ateneasoftware.net" target="_blank">Ateneasoftware.net</a>
        </p>
        <img src="./assets/iconoAtenea.webp" alt="Icono de la empresa" style="width: 150px;">
      </div>
    </ion-footer>
    






  </ion-content>

<!-- Botón flotante de WhatsApp -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="whatsapp-fab">
  <ion-fab-button color="success" (click)="openWhatsApp()" class="large-button">
    <ion-icon name="logo-whatsapp" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>




